<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Word Count Home page</title>
</head>

<body>
  <h1>You are in home page</h1>
  <a href="{% url 'about' %}">About this program</a>
  <p>{{mes}}</p>

  <form action="{% url 'count' %}">
    <textarea name="fulltext" cols="40" rows="5"></textarea>
    <br>
    <input type="submit" value="Count!">
  </form>
</body>

</html>